<div
  class="container d-flex justify-content-center align-items-center min-vh-100"
>
  <div class="card shadow p-4" style="width: 400px; border-radius: 15px">
    <h4 class="card-title text-center mb-4 text-primary">Admin Sign In</h4>
    <!-- Form for Admin Login -->
    <form [formGroup]="adminLoginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="Enter your email"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          aria-describedby="passwordHelpBlock"
          formControlName="password"
        />
      </div>
      <button type="submit" class="btn btn-primary w-100 rounded-pill">
        Sign In
      </button>
    </form>
    <div class="text-center mt-3">
      <a href="/admin-forgotpassword" class="text-decoration-none"
        >Forgot your password?</a
      >
    </div>
    <div class="text-center mt-3">
      <a href="/admin-register" class="text-decoration-none"
        ><span style="color: black">New here?</span> Sign Up</a
      >
    </div>
  </div>
</div>
