<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to QwikTicket!</h1>
        <p class="lead">Your one-stop solution for all your ticketing needs.</p>
        <hr class="my-4">
        <p>Get started by exploring our features and services.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
                <img src="https://images.pexels.com/photos/8261811/pexels-photo-8261811.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top" alt="Tickets">
                <div class="card-body">
                    <h5 class="card-title">Buy Tickets</h5>
                    <p class="card-text">Purchase tickets for your favorite events quickly and easily.</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://images.pexels.com/photos/1190297/pexels-photo-1190297.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top" alt="Events">
                <div class="card-body">
                    <h5 class="card-title">Upcoming Events</h5>
                    <p class="card-text">Stay updated with the latest events happening around you.</p>
                    <a href="#" class="btn btn-primary">View Events</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://images.pexels.com/photos/3727469/pexels-photo-3727469.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top" alt="Support">
                <div class="card-body">
                    <h5 class="card-title">Customer Support</h5>
                    <p class="card-text">Need help? Our support team is here to assist you. We are always there for you.</p>
                    <a href="#" class="btn btn-primary">Contact Support</a>
                </div>
            </div>
        </div>
    </div>
</div>